<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List - Actor</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
</head>
<body>
	<header th:replace="fragments/header"></header>
	<div class="container">
		<a type="button" th:href="@{/actor/create}" class="btn btn-sm btn-primary mt-2">Add</a>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="actor : ${actors}">
					<td th:text="${actor.id}"></td>
					<td th:text="${actor.name}"></td>
				</tr>
			</tbody>
		</table>
		<div th:if="${totalPages > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-2">
					Total movies: [[${totalItems}]]
				</div>
				<div class="col-sm-1">
					<span th:each="page : ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != page}" th:href="@{'/actor/page/' + ${page}}">[[${page}]]</a>
						<a th:unless="${currentPage != page}">[[${page}]]</a> &nbsp; &nbsp;
					</span>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/actor/page/' + ${currentPage + 1}}">Next</a>
					<a th:unless="${currentPage < totalPages}">Next</a>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/actor/page/' + ${totalPages}}">Last</a>
					<a th:unless="${currentPage < totalPages}">Last</a>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer"></footer>
</body>
</html>